@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 169 80% 96%;
    --foreground: 171 80% 8%;
    --card: 169 80% 96%;
    --card-foreground: 171 80% 8%;
    --popover: 169 80% 96%;
    --popover-foreground: 171 80% 8%;
    --primary: 170 82% 57%;
    --primary-foreground: 171 80% 8%;
    --secondary: 170 82% 85%;
    --secondary-foreground: 171 80% 8%;
    --muted: 169 80% 20%;
    --muted-foreground: 171 80% 70%;
    --accent: 170 82% 45%;
    --accent-foreground: 171 80% 8%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 171 80% 8%;
    --border: 169 80% 20%;
    --input: 169 80% 20%;
    --ring: 170 82% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 169 80% 4%;
    --foreground: 171 80% 92%;
    --card: 169 80% 4%;
    --card-foreground: 171 80% 92%;
    --popover: 169 80% 4%;
    --popover-foreground: 171 80% 92%;
    --primary: 170 82% 43%;
    --primary-foreground: 169 80% 4%;
    --secondary: 170 82% 15%;
    --secondary-foreground: 171 80% 92%;
    --muted: 169 80% 80%;
    --muted-foreground: 171 80% 92%;
    --accent: 170 82% 55%;
    --accent-foreground: 169 80% 4%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 171 80% 10%;
    --border: 169 80% 60%;
    --input: 169 80% 80%;
    --ring: 170 82% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
