@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 185 92% 95%;
    --foreground: 192 100% 1%;
    --card: 185 92% 95%;
    --card-foreground: 192 100% 1%;
    --popover: 185 92% 95%;
    --popover-foreground: 192 100% 1%;
    --primary: 186 91% 54%;
    --primary-foreground: 192 100% 1%;
    --secondary: 185 92% 95%;
    --secondary-foreground: 192 100% 1%;
    --muted: 185 92% 20%;
    --muted-foreground: 192 20% 40%;
    --accent: 186 91% 55%;
    --accent-foreground: 192 100% 1%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 192 100% 1%;
    --border: 185 92% 20%;
    --input: 185 92% 20%;
    --ring: 186 91% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 185 92% 5%;
    --foreground: 192 100% 99%;
    --card: 185 92% 5%;
    --card-foreground: 192 100% 99%;
    --popover: 185 92% 5%;
    --popover-foreground: 192 100% 99%;
    --primary: 186 91% 46%;
    --primary-foreground: 185 92% 5%;
    --secondary: 185 92% 5%;
    --secondary-foreground: 192 100% 99%;
    --muted: 185 92% 80%;
    --muted-foreground: 192 20% 40%;
    --accent: 186 91% 45%;
    --accent-foreground: 185 92% 5%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 192 100% 10%;
    --border: 185 92% 60%;
    --input: 185 92% 80%;
    --ring: 186 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
